#!/bin/bash
set -euo pipefail

{{ if not .manage_system_fontconfig -}}
exit 0
{{ end -}}

if [[ ! -f /usr/share/fontconfig/conf.avail/75-apple-color-emoji.conf ]]; then
    echo "[fontconfig] ttf-apple-emoji is not installed, skipping /etc/fonts/conf.d setup"
    exit 0
fi

if [[ ! -L /etc/fonts/conf.d/75-apple-color-emoji.conf ]]; then
    sudo ln -sf /usr/share/fontconfig/conf.avail/75-apple-color-emoji.conf /etc/fonts/conf.d/75-apple-color-emoji.conf
fi

# workaround
mkdir -p ~/.local/share/applications
chmod 755 ~/.local/share/applications
update-desktop-database ~/.local/share/applications

sudo fc-cache -f > /dev/null
fc-cache -f
