#!/bin/bash
set -euo pipefail

if ! grep -q "cachyos" /etc/pacman.conf; then
    curl -fsSL https://mirror.cachyos.org/cachyos-repo.tar.xz -o /tmp/cachyos-repo.tar.xz
    tar -C /tmp -xf /tmp/cachyos-repo.tar.xz
    pushd /tmp/cachyos-repo >/dev/null
    sudo ./cachyos-repo.sh
    popd >/dev/null
    rm -rf /tmp/cachyos-repo /tmp/cachyos-repo.tar.xz
fi

{{ if .use_chaotic_aur }}
if ! grep -q "chaotic-aur" /etc/pacman.conf; then
    sudo pacman-key --recv-key 3056513887B78AEB --keyserver hkp://keyserver.ubuntu.com:80
    sudo pacman-key --lsign-key 3056513887B78AEB
    sudo pacman -U --noconfirm \
        'https://cdn-mirror.chaotic.cx/chaotic-aur/chaotic-keyring.pkg.tar.zst' \
        'https://cdn-mirror.chaotic.cx/chaotic-aur/chaotic-mirrorlist.pkg.tar.zst'
    printf '\n[chaotic-aur]\nInclude = /etc/pacman.d/chaotic-mirrorlist\n' | sudo tee -a /etc/pacman.conf >/dev/null
    sudo pacman -Sy
fi
{{ end }}
