[audio]
enable_overdrive = false
enable_sounds = false
notification_sound = ""
sound_volume = 0.5
volume_change_sound = ""

[backdrop]
blur_intensity = 0.34999999217689037
enabled = true
tint_intensity = 0.30000001192092896

[bar]
order = [ "default" ]

    [bar.default]
    auto_hide = false
    background_opacity = 0.55000000000000004
    border = "outline"
    border_width = 0.0
    capsule = false
    capsule_fill = "#101418"
    capsule_group = []
    capsule_opacity = 0.34999999217689037
    capsule_padding = 4.0
    capsule_thickness = 0.75999999046325684
    center = [ "media", "clock" ]
    contact_shadow = false
    enabled = true
    end = [
        "network",
        {{- if .has_battery }}
        "battery",
        {{- end }}
        "bluetooth",
        "volume",
        "brightness",
        "spacer_3",
        "tray",
        "spacer_4",
        "keyboard_layout",
        "notifications"
    ]
    font_weight = 500
    layer = "top"
    margin_edge = 5
    margin_ends = 280
    margin_opposite_edge = 0
    padding = 14
    panel_overlap = 1
    position = "top"
    radius = 12
    radius_bottom_left = 12
    radius_bottom_right = 12
    radius_top_left = 12
    radius_top_right = 12
    reserve_space = true
    scale = 1.0
    shadow = true
    show_on_workspace_switch = true
    start = [ "control-center", "workspaces", "wallpaper", "bongocat", "spacer_7", "cpu", "cat_2" ]
    thickness = 21
    widget_spacing = 6

        [bar.default.dead_zone]
        command = ""
        middle_command = ""
        right_command = ""
        scroll_down_command = ""
        scroll_up_command = ""

[battery]
warning_threshold = 25

[brightness]
enable_ddcutil = true
ignore_mmids = []
minimum_brightness = 0.0

[calendar]
enabled = false
refresh_minutes = 15

[config]

[control_center]
sidebar = "compact"
sidebar_section = "compact"
width = 700

    [[control_center.shortcuts]]
    type = "wifi"

    [[control_center.shortcuts]]
    type = "bluetooth"

    [[control_center.shortcuts]]
    type = "caffeine"

    [[control_center.shortcuts]]
    type = "nightlight"

    [[control_center.shortcuts]]
    type = "notification"

    [[control_center.shortcuts]]
    type = "power_profile"

[desktop_widgets]
enabled = true
schema_version = 2
widget_order = [ "desktop-widget-0000000000000001" ]

    [desktop_widgets.grid]
    cell_size = 16
    major_interval = 4
    visible = true

    [desktop_widgets.widget.desktop-widget-0000000000000001]
    box_height = 0.0
    box_width = 0.0
    cx = 1804.0
    cy = 1004.0
    enabled = true
    output = "{{ .monitor_output }}"
    rotation = 0.0
    type = "weather"

        [desktop_widgets.widget.desktop-widget-0000000000000001.settings]

[dock]
active_monitor_only = true
active_opacity = 1.0
active_scale = 1.0
auto_hide = true
background_opacity = 0.4999999888241291
cross_axis_padding = 8
enabled = true
icon_size = 32
inactive_opacity = 0.85000002384185791
inactive_scale = 0.85000002384185791
item_spacing = 6
launcher_icon = "grid-dots"
launcher_position = "start"
magnification = true
magnification_scale = 1.4500000476837158
main_axis_padding = 16
margin_edge = 8
margin_ends = 0
monitors = []
pinned = [ "discord", "zen" ]
position = "bottom"
radius = 16
radius_bottom_left = 16
radius_bottom_right = 16
radius_top_left = 16
radius_top_right = 16
reserve_space = false
shadow = true
show_dots = true
show_instance_count = true
show_running = true

[hooks]
battery_charging = []
battery_discharging = []
battery_percentage_changed = []
battery_plugged = []
bluetooth_disabled = []
bluetooth_enabled = []
colors_changed = []
logging_out = []
power_profile_changed = []
rebooting = []
session_locked = []
session_unlocked = []
shutting_down = []
started = []
theme_mode_changed = []
wallpaper_changed = []
wifi_disabled = []
wifi_enabled = []

[idle]
behavior_order = [ "lock", "screen-off", "lock-and-suspend" ]
pre_action_fade_seconds = 2.0

    [idle.behavior.lock]
    action = "lock"
    command = ""
    enabled = false
    resume_command = ""
    timeout = 600.0

    [idle.behavior.lock-and-suspend]
    action = "lock_and_suspend"
    command = ""
    enabled = false
    resume_command = ""
    timeout = 900.0

    [idle.behavior.screen-off]
    action = "screen_off"
    command = ""
    enabled = false
    resume_command = ""
    timeout = 660.0

[keybinds]
cancel = [ "Escape" ]
down = [ "Down" ]
left = [ "Left" ]
right = [ "Right" ]
tab_next = [ "Tab" ]
tab_previous = [ "Shift+ISO_Left_Tab" ]
up = [ "Up" ]
validate = [ "Return", "KP_Enter" ]

[location]
address = ""
auto_locate = true
sunrise = ""
sunset = ""

[lockscreen]
allow_empty_password = false
blur_intensity = 0.5
blurred_desktop = true
enabled = true
fingerprint = true
monitors = []
tint_intensity = 0.30000001192092896
wallpaper = ""

[lockscreen_widgets]
enabled = true
schema_version = 2
widget_order = [
    "lockscreen-widget-0000000000000001",
    "lockscreen-login-box@HDMI-A-1",
    "lockscreen-login-box@{{ .monitor_output }}",
    "lockscreen-widget-0000000000000002",
    "lockscreen-widget-0000000000000003",
    "lockscreen-widget-0000000000000004",
    "lockscreen-widget-0000000000000005",
    "lockscreen-widget-0000000000000006",
    "lockscreen-widget-0000000000000007"
]

    [lockscreen_widgets.grid]
    cell_size = 16
    major_interval = 4
    visible = true

    [lockscreen_widgets.widget."lockscreen-login-box@HDMI-A-1"]
    box_height = 70.0
    box_width = 400.0
    cx = 960.0
    cy = 961.0
    enabled = true
    output = "HDMI-A-1"
    rotation = 0.0
    type = "login_box"

        [lockscreen_widgets.widget."lockscreen-login-box@HDMI-A-1".settings]
        background_color = "surface_variant"
        background_opacity = 0.88
        background_radius = 12.0
        input_opacity = 1.0
        input_radius = 6.0
        show_caps_lock = true
        show_keyboard_layout = true
        show_login_button = true
        show_password_hint = true

    [lockscreen_widgets.widget."lockscreen-login-box@{{ .monitor_output }}"]
    box_height = 70.0
    box_width = 400.0
    cx = 960.0
    cy = 957.0
    enabled = true
    output = "{{ .monitor_output }}"
    rotation = 0.0
    type = "login_box"

        [lockscreen_widgets.widget."lockscreen-login-box@{{ .monitor_output }}".settings]
        show_caps_lock = true
        show_keyboard_layout = true
        show_login_button = true
        show_password_hint = true

    [lockscreen_widgets.widget.lockscreen-widget-0000000000000001]
    box_height = 218.29296875
    box_width = 412.9140625
    cx = 960.0
    cy = 281.5
    enabled = true
    output = "{{ .monitor_output }}"
    rotation = 0.0
    type = "clock"

        [lockscreen_widgets.widget.lockscreen-widget-0000000000000001.settings]

    [lockscreen_widgets.widget.lockscreen-widget-0000000000000002]
    box_height = 179.109375
    box_width = 483.56640625
    cx = 960.0
    cy = 812.0
    enabled = true
    output = "{{ .monitor_output }}"
    rotation = 0.0
    type = "media_player"

        [lockscreen_widgets.widget.lockscreen-widget-0000000000000002.settings]

    [lockscreen_widgets.widget.lockscreen-widget-0000000000000003]
    box_height = 0.0
    box_width = 0.0
    cx = 960.0
    cy = 636.0
    enabled = true
    output = "{{ .monitor_output }}"
    rotation = 0.0
    type = "sysmon"

        [lockscreen_widgets.widget.lockscreen-widget-0000000000000003.settings]

    [lockscreen_widgets.widget.lockscreen-widget-0000000000000004]
    box_height = 0.0
    box_width = 0.0
    cx = 1104.0
    cy = 679.0
    enabled = true
    output = "{{ .monitor_output }}"
    rotation = 0.0
    type = "sysmon"

        [lockscreen_widgets.widget.lockscreen-widget-0000000000000004.settings]
        display = "gauge"
        stat = "cpu_temp"

    [lockscreen_widgets.widget.lockscreen-widget-0000000000000005]
    box_height = 41.17578125
    box_width = 75.7734375
    cx = 1103.38671875
    cy = 635.412109375
    output = "{{ .monitor_output }}"
    rotation = 0.0
    type = "sysmon"

        [lockscreen_widgets.widget.lockscreen-widget-0000000000000005.settings]
        display = "gauge"
        stat = "ram_pct"

    [lockscreen_widgets.widget.lockscreen-widget-0000000000000006]
    box_height = 44.26171875
    box_width = 118.05859375
    cx = 788.970703125
    cy = 676.869140625
    output = "{{ .monitor_output }}"
    rotation = 0.0
    type = "sysmon"

        [lockscreen_widgets.widget.lockscreen-widget-0000000000000006.settings]
        display = "gauge"
        stat = "net_rx"

    [lockscreen_widgets.widget.lockscreen-widget-0000000000000007]
    box_height = 44.9931640625
    box_width = 118.685546875
    cx = 789.2841796875
    cy = 614.82421875
    output = "{{ .monitor_output }}"
    rotation = 0.0
    type = "sysmon"

        [lockscreen_widgets.widget.lockscreen-widget-0000000000000007.settings]
        display = "gauge"
        stat = "net_tx"

[nightlight]
enabled = true
force = false
temperature_day = 6500
temperature_night = 4000

[notification]
background_opacity = 0.58999998681247234
collapse_on_dismiss = true
enable_daemon = true
layer = "top"
monitors = []
offset_x = 20
offset_y = 8
position = "top_right"
scale = 1.0
show_actions = true
show_app_name = true

[osd]
background_opacity = 0.70999998413026333
monitors = []
offset_x = 20
offset_y = 8
orientation = "horizontal"
position = "top_right"
position_vertical = "top_center"
scale = 1.0

    [osd.kinds]
    bluetooth = true
    brightness = true
    caffeine = true
    dnd = true
    keyboard_layout = true
    lock_keys = true
    media = true
    nightlight = true
    power_profile = true
    privacy = true
    volume = true
    volume_input = true
    volume_output = true
    wifi = true

[plugins]
enabled = [ "noctalia/bongocat" ]

    [[plugins.source]]
    auto_update = false
    enabled = true
    kind = "git"
    location = "https://github.com/noctalia-dev/official-plugins"
    name = "official"

    [[plugins.source]]
    auto_update = false
    enabled = true
    kind = "git"
    location = "https://github.com/noctalia-dev/community-plugins"
    name = "community"

[shell]
app_icon_colorize = false
avatar_path = ""
clipboard_auto_paste = "auto"
clipboard_confirm_clear_history = true
clipboard_enabled = true
clipboard_history_max_entries = 50
clipboard_image_action_command = ""
corner_radius_scale = 1.0
date_format = "%A, %x"
disable_mipmaps = false
font_family = "JetBrainsMono Nerd Font"
launch_apps_as_systemd_services = false
middle_click_opens_widget_settings = true
niri_overview_type_to_launch_enabled = true
offline_mode = false
password_style = "random"
polkit_agent = false
screen_time_enabled = true
settings_show_advanced = true
setup_wizard_enabled = true
shared_gl_context = true
show_location = true
telemetry_enabled = false
time_format = "{:%H:%M}"
ui_scale = 1.0

    [shell.animation]
    enabled = true
    speed = 1.0

    [shell.greeter_sync]

    [shell.launcher]
    app_grid = false
    categories = true
    compact = false
    session_search = false
    show_icons = true
    sort_by_usage = true

        [shell.launcher.dmenu]

    [shell.mpris]
    blacklist = []

    [shell.panel]
    borders = true
    clipboard_placement = "floating"
    clipboard_position = "center"
    control_center_placement = "attached"
    control_center_position = "auto"
    floating_offset = 8
    launcher_compact = true
    launcher_placement = "floating"
    launcher_position = "center"
    open_near_click_clipboard = true
    open_near_click_control_center = false
    open_near_click_launcher = false
    open_near_click_session = false
    open_near_click_wallpaper = false
    polkit_placement = "floating"
    polkit_position = "center"
    session_placement = "attached"
    session_position = "auto"
    shadow = true
    transparency_mode = "soft"
    wallpaper_placement = "attached"
    wallpaper_position = "auto"

    [shell.privacy]
    cam_filter_regex = ""
    mic_filter_regex = ""

    [shell.screen_corners]
    enabled = false
    size = 32

    [shell.screenshot]
    confirm_region = false
    copy_to_clipboard = true
    directory = ""
    filename_pattern = ""
    freeze_screen = true
    pipe_command = ""
    pipe_to_command = false
    save_to_file = true

    [shell.session.power]

    [[shell.session.actions]]
    action = "lock"
    command = ""
    countdown_seconds = 0.0
    enabled = true
    glyph = ""
    label = ""
    shortcut = "1"
    variant = "default"

    [[shell.session.actions]]
    action = "logout"
    command = ""
    countdown_seconds = 0.0
    enabled = true
    glyph = ""
    label = ""
    shortcut = "2"
    variant = "default"

    [[shell.session.actions]]
    action = "suspend"
    command = ""
    countdown_seconds = 0.0
    enabled = true
    glyph = ""
    label = ""
    shortcut = "3"
    variant = "default"

    [[shell.session.actions]]
    action = "reboot"
    command = ""
    countdown_seconds = 0.0
    enabled = true
    glyph = ""
    label = ""
    shortcut = "4"
    variant = "default"

    [[shell.session.actions]]
    action = "shutdown"
    command = ""
    countdown_seconds = 0.0
    enabled = true
    glyph = ""
    label = ""
    shortcut = "5"
    variant = "destructive"

    [[shell.session.actions]]
    action = "command"
    command = "notify-send 'Noctalia' 'Custom session entry'"
    countdown_seconds = 0.0
    enabled = false
    glyph = ""
    label = ""
    shortcut = ""
    variant = "default"

    [shell.shadow]
    alpha = 0.55000001192092896
    direction = "down"

[system.monitor]
cpu_poll_seconds = 2.0
cpu_temp_activity_threshold = 60.0
cpu_temp_critical_threshold = 85.0
cpu_temp_sensor_path = ""
cpu_usage_activity_threshold = 50.0
cpu_usage_critical_threshold = 90.0
disk_pct_activity_threshold = 80.0
disk_pct_critical_threshold = 95.0
disk_poll_seconds = 10.0
enabled = true
gpu_poll_seconds = 0.0
gpu_temp_activity_threshold = 60.0
gpu_temp_critical_threshold = 85.0
gpu_usage_activity_threshold = 50.0
gpu_usage_critical_threshold = 95.0
gpu_vram_activity_threshold = 50.0
gpu_vram_critical_threshold = 90.0
memory_poll_seconds = 2.0
net_rx_activity_threshold = 1.0
net_rx_critical_threshold = 50.0
net_tx_activity_threshold = 1.0
net_tx_critical_threshold = 50.0
network_poll_seconds = 3.0
ram_pct_activity_threshold = 60.0
ram_pct_critical_threshold = 90.0
swap_pct_activity_threshold = 20.0
swap_pct_critical_threshold = 80.0

[templates]

[theme]
builtin = "Ayu"
community_palette = "Noctalia legacy"
custom_palette = "test2"
mode = "dark"
source = "custom"
wallpaper_scheme = "m3-tonal-spot"

    [theme.templates]
    builtin_ids = [ "alacritty", "gtk3", "gtk4", "kcolorscheme", "niri", "qt" ]
    community_ids = [ "zed", "discord", "steam" ]
    enable_builtin_templates = true
    enable_community_templates = true

[wallpaper]
directory = "{{ .wallpaper_dir }}"
directory_dark = ""
directory_light = ""
edge_smoothness = 0.30000001192092896
enabled = true
fill_color = ""
fill_mode = "stretch"
per_monitor_directories = false
transition = [ "fade", "wipe", "disc", "stripes", "zoom", "honeycomb" ]
transition_duration = 1500.0
transition_on_startup = true

    [wallpaper.automation]
    enabled = false
    interval_seconds = 1800
    order = "random"
    recursive = true

    [wallpaper.default]
    path = "{{ .wallpaper_dir }}/frozen-lake-sunset-over-mountain-range-431a4d3c-7e2f-44eb-8d38-5c51d1fce1dc.png"

    [wallpaper.last]
    path = "{{ .wallpaper_dir }}/frozen-lake-sunset-over-mountain-range-431a4d3c-7e2f-44eb-8d38-5c51d1fce1dc.png"

    [wallpaper.monitors.{{ .monitor_output }}]
    path = "{{ .wallpaper_dir }}/frozen-lake-sunset-over-mountain-range-431a4d3c-7e2f-44eb-8d38-5c51d1fce1dc.png"

[weather]
effects = true
enabled = true
refresh_minutes = 30
unit = "metric"

[widget.active_window]
icon_size = 14.0
max_length = 260.0
min_length = 80.0
title_scroll = "none"
type = "active_window"

[widget.bongocat]
audio_spectrum = true
hot_reload = true
input_device = "{{ .keyboard_device }}"
scope = "shared"
script = "scripts/bongocat.lua"
tappy_mode = true
type = "scripted"
use_mpris_filter = true

[widget.cat]
audio_spectrum = true
input_devices = [ "/dev/input/event8" ]
tappy_mode = true
type = "noctalia/bongocat:cat"

[widget.cat_2]
audio_spectrum = true
input_devices = [ "{{ .keyboard_device }}" ]
tappy_mode = true
type = "noctalia/bongocat:cat"

[widget.cpu]
display = "text"
stat = "cpu_usage"
type = "sysmon"

[widget.date]
format = "{:%a %d %b}"
type = "clock"

[widget.input_volume]
device = "input"
type = "volume"

[widget.keyboard_layout]
cycle_command = ""
hide_when_single_layout = false
type = "keyboard_layout"

[widget.lock_keys]
display = "short"
hide_when_off = false
show_caps_lock = true
show_num_lock = true
show_scroll_lock = false
type = "lock_keys"

[widget.media]
art_size = 16.0
max_length = 220.0
min_length = 80.0
title_scroll = "none"
type = "media"

[widget.network_rx]
stat = "net_rx"
type = "sysmon"

[widget.network_tx]
stat = "net_tx"
type = "sysmon"

[widget.output_volume]
device = "output"
type = "volume"

[widget.ram]
stat = "ram_used"
type = "sysmon"

[widget.scripted_2]
capsule = true
type = "scripted"

[widget.spacer]
type = "spacer"

[widget.spacer_2]
length = 25
type = "spacer"

[widget.spacer_3]
length = 15
type = "spacer"

[widget.spacer_4]
length = 15
type = "spacer"

[widget.spacer_5]
type = "spacer"

[widget.spacer_6]
type = "spacer"

[widget.spacer_7]
type = "spacer"

[widget.spacer_8]
type = "spacer"

[widget.temp]
stat = "cpu_temp"
type = "sysmon"
