[audio]
enable_overdrive = false
enable_sounds = false
notification_sound = ""
sound_volume = 0.5
volume_change_sound = ""

[backdrop]
blur_intensity = 0.34999999403953552
enabled = true
tint_intensity = 0.30000001192092896

[bar]
order = [ "default" ]

    [bar.default]
    auto_hide = false
    background_opacity = 0.55000001192092896
    border = "outline"
    border_width = 0.0
    capsule = false
    capsule_fill = "#101418"
    capsule_group = []
    capsule_opacity = 0.34999999403953552
    capsule_padding = 4.0
    center = [ "media", "clock" ]
    contact_shadow = false
    enabled = true
    end = [
        "spacer_7",
        "cpu",
        {{ if .has_battery - }}
        "battery",
        {{- end }}
        "clipboard",
        "network",
        "bluetooth",
        "volume",
        "brightness",
        "spacer_3",
        "tray",
        "spacer_4",
        "keyboard_layout",
        "notifications"
    ]
    font_weight = 500
    layer = "top"
    margin_edge = 5
    margin_ends = 280
    padding = 14
    panel_overlap = 1
    position = "top"
    radius = 12
    radius_bottom_left = 12
    radius_bottom_right = 12
    radius_top_left = 12
    radius_top_right = 12
    reserve_space = true
    scale = 1.0
    shadow = true
    start = [ "control-center", "workspaces", "wallpaper", "bongocat" ]
    thickness = 21
    widget_spacing = 6

[battery]
warning_threshold = 25

[brightness]
enable_ddcutil = true
ignore_mmids = []

[calendar]
enabled = false
refresh_minutes = 15

[control_center]
sidebar = "compact"
sidebar_section = "compact"

    [[control_center.shortcuts]]
    type = "wifi"

    [[control_center.shortcuts]]
    type = "bluetooth"

    [[control_center.shortcuts]]
    type = "caffeine"

    [[control_center.shortcuts]]
    type = "nightlight"

    [[control_center.shortcuts]]
    type = "notification"

    [[control_center.shortcuts]]
    type = "power_profile"

[desktop_widgets]
enabled = true
schema_version = 2
widget_order = [ "desktop-widget-0000000000000001" ]

    [desktop_widgets.grid]
    cell_size = 16
    major_interval = 4
    visible = true

    [desktop_widgets.widget.desktop-widget-0000000000000001]
    box_height = 0.0
    box_width = 0.0
    cx = 1804.0
    cy = 1004.0
    enabled = true
    output = "{{ .monitor_output }}"
    rotation = 0.0
    type = "weather"

        [desktop_widgets.widget.desktop-widget-0000000000000001.settings]

[dock]
active_monitor_only = true
active_opacity = 1.0
active_scale = 1.0
auto_hide = true
background_opacity = 0.5
cross_axis_padding = 8
enabled = true
icon_size = 32
inactive_opacity = 0.85000002384185791
inactive_scale = 0.85000002384185791
item_spacing = 6
launcher_icon = "grid-dots"
launcher_position = "start"
magnification = true
magnification_scale = 1.4500000476837158
main_axis_padding = 16
margin_edge = 8
margin_ends = 0
monitors = []
pinned = [ "discord", "zen" ]
position = "bottom"
radius = 16
radius_bottom_left = 16
radius_bottom_right = 16
radius_top_left = 16
radius_top_right = 16
reserve_space = false
shadow = true
show_dots = true
show_instance_count = true
show_running = true

[hooks]
battery_charging = []
battery_discharging = []
battery_percentage_changed = []
battery_plugged = []
bluetooth_disabled = []
bluetooth_enabled = []
colors_changed = []
logging_out = []
power_profile_changed = []
rebooting = []
session_locked = []
session_unlocked = []
shutting_down = []
started = []
theme_mode_changed = []
wallpaper_changed = []
wifi_disabled = []
wifi_enabled = []

[idle]
behavior_order = [ "lock", "screen-off", "lock-and-suspend" ]
pre_action_fade_seconds = 2.0

    [idle.behavior.lock]
    action = "lock"
    command = ""
    enabled = false
    resume_command = ""
    timeout = 600

    [idle.behavior.lock-and-suspend]
    action = "lock_and_suspend"
    command = ""
    enabled = false
    resume_command = ""
    timeout = 900

    [idle.behavior.screen-off]
    action = "screen_off"
    command = ""
    enabled = false
    resume_command = ""
    timeout = 660

[keybinds]
cancel = [ "Escape" ]
down = [ "Down" ]
left = [ "Left" ]
right = [ "Right" ]
up = [ "Up" ]
validate = [ "Return", "KP_Enter" ]

[location]
address = ""
auto_locate = true
sunrise = ""
sunset = ""

[lockscreen]
blur_intensity = 0.5
blurred_desktop = true
tint_intensity = 0.30000001192092896
wallpaper = ""

[lockscreen_widgets]
enabled = true
schema_version = 2
widget_order = [
    "lockscreen-widget-0000000000000001",
    "lockscreen-login-box@{{ .monitor_output }}",
    "lockscreen-widget-0000000000000002",
    "lockscreen-widget-0000000000000003",
    "lockscreen-widget-0000000000000004"
]

    [lockscreen_widgets.grid]
    cell_size = 16
    major_interval = 4
    visible = true

    [lockscreen_widgets.widget."lockscreen-login-box@{{ .monitor_output }}"]
    box_height = 0.0
    box_width = 0.0
    cx = 960.0
    cy = 957.0
    enabled = true
    output = "eDP-1"
    rotation = 0.0
    type = "login_box"

       [lockscreen_widgets.widget."lockscreen-login-box@{{ .monitor_output }}".settings]

    [lockscreen_widgets.widget.lockscreen-widget-0000000000000001]
    box_height = 218.29296875
    box_width = 412.9140625
    cx = 960.0
    cy = 281.5
    enabled = true
    output = "{{ .monitor_output }}"
    rotation = 0.0
    type = "clock"

        [lockscreen_widgets.widget.lockscreen-widget-0000000000000001.settings]

    [lockscreen_widgets.widget.lockscreen-widget-0000000000000002]
    box_height = 179.109375
    box_width = 483.56640625
    cx = 960.0
    cy = 812.0
    enabled = true
    output = "{{ .monitor_output }}"
    rotation = 0.0
    type = "media_player"

        [lockscreen_widgets.widget.lockscreen-widget-0000000000000002.settings]

    [lockscreen_widgets.widget.lockscreen-widget-0000000000000003]
    box_height = 0.0
    box_width = 0.0
    cx = 960.0
    cy = 540.0
    enabled = true
    output = "{{ .monitor_output }}"
    rotation = 0.0
    type = "sysmon"

        [lockscreen_widgets.widget.lockscreen-widget-0000000000000003.settings]

    [lockscreen_widgets.widget.lockscreen-widget-0000000000000004]
    box_height = 0.0
    box_width = 0.0
    cx = 1340.0
    cy = 828.0
    enabled = true
    output = "{{ .monitor_output }}"
    rotation = 0.0
    type = "sysmon"

        [lockscreen_widgets.widget.lockscreen-widget-0000000000000004.settings]

[nightlight]
enabled = true
force = false
temperature_day = 6500
temperature_night = 4000

[notification]
allowed_urgencies = []
background_opacity = 0.5899999737739563
blacklist = []
blacklist_allow_critical = true
collapse_on_dismiss = true
enable_daemon = true
layer = "top"
monitors = []
offset_x = 20
offset_y = 8
position = "top_right"
scale = 1.0
show_actions = true
show_app_name = true

[osd]
background_opacity = 0.70999997854232788
monitors = []
offset_x = 20
offset_y = 8
orientation = "horizontal"
position = "top_right"
scale = 1.0

    [osd.kinds]
    bluetooth = true
    brightness = true
    caffeine = true
    dnd = true
    keyboard_layout = true
    lock_keys = true
    power_profile = true
    volume = true
    volume_input = true
    volume_output = true
    wifi = true

[shell]
app_icon_colorize = false
clipboard_auto_paste = "auto"
clipboard_confirm_clear_history = true
clipboard_enabled = true
clipboard_history_max_entries = 50
clipboard_image_action_command = ""
corner_radius_scale = 1.0
date_format = "%A, %x"
disable_mipmaps = false
font_family = "JetBrainsMono Nerd Font"
launch_apps_as_systemd_services = false
middle_click_opens_widget_settings = true
niri_overview_type_to_launch_enabled = true
offline_mode = false
password_style = "random"
polkit_agent = false
screen_time_enabled = true
settings_show_advanced = true
setup_wizard_enabled = true
shared_gl_context = true
show_location = true
telemetry_enabled = false
time_format = "{:%H:%M}"
ui_scale = 1.0

    [shell.animation]
    enabled = true
    speed = 1.0

    [shell.mpris]
    blacklist = []

    [shell.panel]
    borders = true
    clipboard_placement = "centered"
    control_center_placement = "attached"
    launcher_categories = true
    launcher_compact = true
    launcher_placement = "centered"
    launcher_show_icons = true
    open_near_click_clipboard = true
    open_near_click_control_center = false
    open_near_click_launcher = false
    open_near_click_session = false
    open_near_click_wallpaper = false
    session_placement = "attached"
    shadow = true
    transparency_mode = "soft"
    wallpaper_placement = "attached"

    [shell.screen_corners]
    enabled = false
    size = 32

    [shell.screenshot]
    copy_to_clipboard = true
    directory = ""
    filename_pattern = ""
    freeze_screen = true
    pipe_command = ""
    pipe_to_command = false
    save_to_file = true

    [[shell.session.actions]]
    action = "lock"
    command = ""
    enabled = true
    glyph = ""
    label = ""
    shortcut = "1"
    variant = "default"

    [[shell.session.actions]]
    action = "logout"
    command = ""
    enabled = true
    glyph = ""
    label = ""
    shortcut = "2"
    variant = "default"

    [[shell.session.actions]]
    action = "suspend"
    command = ""
    enabled = true
    glyph = ""
    label = ""
    shortcut = "3"
    variant = "default"

    [[shell.session.actions]]
    action = "reboot"
    command = ""
    enabled = true
    glyph = ""
    label = ""
    shortcut = "4"
    variant = "default"

    [[shell.session.actions]]
    action = "shutdown"
    command = ""
    enabled = true
    glyph = ""
    label = ""
    shortcut = "5"
    variant = "destructive"

    [[shell.session.actions]]
    action = "command"
    command = "notify-send 'Noctalia' 'Custom session entry'"
    enabled = false
    glyph = ""
    label = ""
    shortcut = ""
    variant = "default"

    [shell.shadow]
    alpha = 0.55000001192092896
    direction = "down"

[system.monitor]
cpu_poll_seconds = 2.0
cpu_temp_activity_threshold = 60.0
cpu_temp_critical_threshold = 85.0
cpu_usage_activity_threshold = 50.0
cpu_usage_critical_threshold = 90.0
disk_pct_activity_threshold = 80.0
disk_pct_critical_threshold = 95.0
disk_poll_seconds = 10.0
enabled = true
gpu_poll_seconds = 0.0
gpu_temp_activity_threshold = 60.0
gpu_temp_critical_threshold = 85.0
gpu_usage_activity_threshold = 50.0
gpu_usage_critical_threshold = 95.0
gpu_vram_activity_threshold = 50.0
gpu_vram_critical_threshold = 90.0
memory_poll_seconds = 2.0
net_rx_activity_threshold = 1.0
net_rx_critical_threshold = 50.0
net_tx_activity_threshold = 1.0
net_tx_critical_threshold = 50.0
network_poll_seconds = 3.0
ram_pct_activity_threshold = 60.0
ram_pct_critical_threshold = 90.0
swap_pct_activity_threshold = 20.0
swap_pct_critical_threshold = 80.0

[theme]
builtin = "Tokyo-Night"
community_palette = "Espresso Cream"
custom_palette = ""
mode = "dark"
source = "wallpaper"
wallpaper_scheme = "m3-tonal-spot"

    [theme.templates]
    builtin_ids = [ "alacritty", "gtk3", "gtk4", "kcolorscheme", "niri", "qt" ]
    community_ids = [ "zed", "discord", "steam" ]
    enable_builtin_templates = true
    enable_community_templates = true

[wallpaper]
directory = "{{ .wallpaper_dir }}"
directory_dark = ""
directory_light = ""
edge_smoothness = 0.30000001192092896
enabled = true
fill_color = ""
fill_mode = "fit"
per_monitor_directories = false
transition = [ "fade", "wipe", "disc", "stripes", "zoom", "honeycomb" ]
transition_duration = 1500.0
transition_on_startup = true

    [wallpaper.automation]
    enabled = false
    interval_seconds = 1800
    order = "random"
    recursive = true

[weather]
effects = true
enabled = true
refresh_minutes = 30
unit = "metric"

[widget.active_window]
icon_size = 14.0
max_length = 260.0
min_length = 80.0
title_scroll = "none"
type = "active_window"

[widget.bongocat]
audio_spectrum = true
hot_reload = true
input_device = "{{ .keyboard_device }}"
scope = "shared"
script = "scripts/bongocat.lua"
tappy_mode = true
type = "scripted"
use_mpris_filter = true

[widget.cpu]
display = "text"
stat = "cpu_usage"
type = "sysmon"

[widget.date]
format = "{:%a %d %b}"
type = "clock"

[widget.input_volume]
device = "input"
type = "volume"

[widget.keyboard_layout]
cycle_command = ""
hide_when_single_layout = false
type = "keyboard_layout"

[widget.lock_keys]
display = "short"
hide_when_off = false
show_caps_lock = true
show_num_lock = true
show_scroll_lock = false
type = "lock_keys"

[widget.media]
art_size = 16.0
max_length = 220.0
min_length = 80.0
title_scroll = "none"
type = "media"

[widget.network_rx]
stat = "net_rx"
type = "sysmon"

[widget.network_tx]
stat = "net_tx"
type = "sysmon"

[widget.output_volume]
device = "output"
type = "volume"

[widget.ram]
stat = "ram_used"
type = "sysmon"

[widget.scripted_2]
capsule = true
type = "scripted"

[widget.spacer]
type = "spacer"

[widget.spacer_2]
length = 25
type = "spacer"

[widget.spacer_3]
length = 15
type = "spacer"

[widget.spacer_4]
length = 15
type = "spacer"

[widget.spacer_5]
type = "spacer"

[widget.spacer_6]
type = "spacer"

[widget.spacer_7]
type = "spacer"

[widget.spacer_8]
type = "spacer"

[widget.temp]
stat = "cpu_temp"
type = "sysmon"
