layout {

    focus-ring {
        active-color   "#dedbd2"
        inactive-color "#21201c"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#dedbd2"
        inactive-color "#21201c"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#21201c70"
    }

    tab-indicator {
        active-color   "#dedbd2"
        inactive-color "#92886c"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#dedbd280"
    }
}

recent-windows {
    highlight {
        active-color "#dedbd2"
        urgent-color "#fd4663"
    }
}
