// --- Global Rules ---

window-rule {
    geometry-corner-radius 10
    clip-to-geometry true
}

window-rule {
  opacity 0.80;
  background-effect {
    blur true
    xray true
  }
}

// --- System Interface Rules ---

layer-rule {
    match namespace="^noctalia-(bar-[^\"]+|notification|dock|panel|osd)$"
    background-effect {
        //blur false
        //xray false
    }
}

layer-rule {
    match namespace="^noctalia-backdrop"
    place-within-backdrop true
}

// --- System Utility Rules ---

window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

window-rule {
  match app-id="dev.noctalia.Noctalia.Settings"
  open-floating true
  default-column-width { fixed 1080; }
  default-window-height { fixed 920; }
}

window-rule {
    match app-id="clipse"
    open-floating true
    open-focused true
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

// --- App Specific Rules ---

window-rule {
    match app-id="zen"
    match app-id="discord"
    match app-id="tdesktop"

    opacity 1.0
}

window-rule {
    match title="Zen*"
    open-on-workspace "c"
    open-maximized true
}

window-rule {
    match app-id="org.gnome.Nautilus"
    opacity 0.85
    background-effect {
        blur true
        xray true
    }
}


window-rule {
    match app-id="zed"
    opacity 0.80
    draw-border-with-background false
}

window-rule {
    match app-id="^[Ss]team$"
    match app-id="discord"
    match app-id="zed"
    opacity 0.85
    draw-border-with-background false
}

window-rule {
    match app-id="^[Cc]ode(-oss)?$"

    opacity 0.90
    draw-border-with-background false

    background-effect {
        blur true
        xray false
    }
}
